body {
  color: #f80;
  background: #000;
  font-size: 10px;
  /*
    .col-id
	.col-timestamp 
	.col-StarSystem 
	.col-Name
	.col-Count 
	.col-event 
	.col-eventType 
	.col-scroll
*/
}
body div#ed-head {
  background: #f80;
  color: #000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
}
body div#ed-head div.row {
  margin-bottom: 0;
}
body div#ed-head div .logo {
  padding: 4px;
}
body div#ed-head div .rep {
  padding: 4px;
}
body div#ed-head div .rep a {
  color: #000;
}
body div#ed-head div .rep:hover {
  background: #ffa820;
}
body div#ed-head div .sel {
  background: #df6800;
}
body div#ed-head div .sel a {
  color: #fff;
}
body div#line {
  border-top: 1px solid #f80;
  border-bottom: 1px dotted #f80;
  height: 3px;
  margin-top: 1px;
  margin-bottom: 8px;
}
body div#finder {
  margin: 8px;
  border: 1px solid #f80;
}
body div#finder input,
body div#finder input:focus {
  border: 0px !important;
  color: #f80;
  box-shadow: none;
  margin: 0px;
  padding: 8px;
  opacity: 1;
}
body div#options {
  margin: 0px;
  margin-left: 8px;
  margin-bottom: 16px;
}
body div#options span.find-model {
  border-top: 2px solid #f80;
  background: rgba(255, 136, 0, 0.8);
  color: #000;
  padding: 8px;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
body div#options span.find-model:hover {
  border-top: 2px solid #ff0;
  background: #ff9600;
}
body div#options span.find-model.set {
  background: #ff8800;
}
body div#options span.result {
  display: inline-block;
  padding-left: 8px;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
body div#options span.result span {
  color: #FFF;
}
body div#options span.looking-for {
  text-transform: uppercase;
  font-size: 1.2em;
  margin-left: 8px;
  color: #904d00;
}
body div#options span.looking-for span {
  background: inherit;
}
body div#options span.looking-for span.mat-name {
  background: #ff8800;
  color: #1c0900;
  font-size: 0.8em;
  text-transform: lowercase;
  border-radius: 2px;
  padding: 1px 4px 3px 4px;
  position: relative;
  top: -1px;
  letter-spacing: 0.25px;
}
body div.events {
  /* table structure */
}
body div.events table tr.odd {
  background: #1f1100;
}
body div.events table tr {
  border-bottom: rgba(177, 94, 0, 0.28) 2px solid;
}
body div.events table tr td,
body div.events table tr th {
  border-radius: 0px;
}
body div.events table tr td.col-id,
body div.events table tr th.col-id {
  width: 64px;
  border-right: 1px solid rgba(177, 94, 0, 0.28);
}
body div.events table tr td.col-timestamp,
body div.events table tr th.col-timestamp {
  width: 200px;
  border-right: 1px solid rgba(177, 94, 0, 0.28);
}
body div.events table tr td.col-StarSystem,
body div.events table tr th.col-StarSystem {
  width: 512px;
  border-right: 1px solid rgba(177, 94, 0, 0.28);
}
body div.events table tr td.col-Name,
body div.events table tr th.col-Name {
  width: 280px;
  border-right: 1px solid rgba(177, 94, 0, 0.28);
}
body div.events table tr td.col-Count,
body div.events table tr th.col-Count {
  width: 64px;
  border-right: 1px solid rgba(177, 94, 0, 0.28);
}
body div.events table tr td.col-event,
body div.events table tr th.col-event {
  display: none;
}
body div.events table tr td.col-scroll,
body div.events table tr th.col-scroll {
  border-left: 1px solid rgba(177, 94, 0, 0.28);
  width: 18px;
}
body div.events table.head thead tr th {
  background: #f80;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
}
body div.events div#scrollArea {
  max-height: 720px;
  border-bottom: 2px solid #291600;
}
body div.events div#scrollArea table.ed-data tbody tr .odd {
  background: #1f1100;
}
body div.events div#scrollArea table.ed-data tbody tr td {
  color: #f80;
}
body div.events div#scrollArea table.ed-data tbody tr td.col-id {
  font-weight: bold;
}
body div.events div#scrollArea table.ed-data tbody tr td.col-timestamp {
  text-transform: uppercase;
  text-align: right;
}
body div.events div#scrollArea table.ed-data tbody tr td.col-StarSystem {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
}
body div.events div#scrollArea table.ed-data tbody tr td.col-Name div.mtCell div.mtName {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-size: 1.2em;
  margin-bottom: 4px;
}
body div.events div#scrollArea table.ed-data tbody tr td.col-Name div.mtCell div.mtPrp span {
  background: #d2930024;
  color: #d29300;
  display: inline-block;
  padding: 4px 6px 2px 5px;
  border-radius: 4px;
  margin-right: 4px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
}
body div.events div#scrollArea table.ed-data tbody tr td.col-Name div.mtCell div.mtPrp span.VeryCommon {
  background: #fff;
  color: #000;
}
body div.events div#scrollArea table.ed-data tbody tr td.col-Name div.mtCell div.mtPrp span.Common {
  background: #0f0;
  color: #000;
}
body div.events div#scrollArea table.ed-data tbody tr td.col-Name div.mtCell div.mtPrp span.Standard {
  background: #ff0;
  color: #000;
}
body div.events div#scrollArea table.ed-data tbody tr td.col-Name div.mtCell div.mtPrp span.Rare {
  background: #f00;
  color: #000;
}
body div.events div#scrollArea table.ed-data tbody tr td.col-Name div.mtCell div.mtPrp span.VeryRare {
  background: #00f;
  color: #fff;
}
body div.events div#scrollArea table.ed-data tbody tr td.col-Name div.mtCell div.mtDetails {
  color: #b10000;
  font-size: 1.05em;
  margin-top: 4px;
  font-style: italic;
}
body div.events div#scrollArea table.ed-data tbody tr td.col-Count {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}
body div.events div#scrollArea table.ed-data tbody tr td.col-eventType {
  text-align: center;
  font-size: 2em;
  letter-spacing: 2px;
  opacity: 0.4;
}
body div.events div#scrollArea table.ed-data tbody tr td:hover {
  background: rgba(255, 136, 0, 0.3);
}
body div.events div#scrollArea table.ed-data tbody tr:hover {
  background: rgba(255, 136, 0, 0.3);
}
body div.byMat div.mat {
  width: 32%;
  display: inline-table;
  box-sizing: border-box;
  border: 2px solid rgba(255, 136, 0, 0.33);
  margin: 8px;
  margin-bottom: 16px;
  border-radius: 8px;
  background: #ff880021;
  padding: 8px;
}
body div.byMat div.mat h4 {
  line-height: 0px;
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
body div.byMat div.mat h4 span {
  color: #f80;
  opacity: 0.8;
  font-family: monospace;
}
body div.byMat div.mat div ul {
  font-size: 1.2em;
}
body div.byMat div.mat div ul li span.ss {
  text-transform: uppercase;
  opacity: 0.6;
  letter-spacing: 1px;
}
body div.byMat div.mat div ul li span.nn {
  font-family: monospace;
  font-weight: bold;
  color: #fff;
  font-size: 1.22em;
}
body div.bySys div.sys {
  width: 32%;
  display: inline-table;
  box-sizing: border-box;
  border: 2px solid rgba(255, 136, 0, 0.33);
  margin: 8px;
  margin-bottom: 16px;
  border-radius: 8px;
  background: #ff880021;
  padding: 8px;
  max-height: 250px;
  overflow: hidden;
}
body div.bySys div.sys h4 {
  line-height: 0px;
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
body div.bySys div.sys span.sysStat {
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-weight: bold;
}
body div.bySys div.sys div {
  font-size: 1.3em;
  letter-spacing: 1.2px;
}
body div.bySys div.sys div ul li span.matType {
  opacity: 0.3;
  display: inline-block;
  width: 96px;
  text-align: right;
}
body div.bySys div.sys div ul li span.matC {
  font-family: monospace;
  font-weight: bold;
  color: #fff;
  font-size: 1.1em;
}
body div.bySys div.sys div.bySysList {
  display: none;
}
body div.bySys div.sys:hover {
  border: #fff 2px solid;
  cursor: pointer;
}
