body {
    color: #f80;
    background: #000;
    font-size: 10px;
    div#ed-head {
        background: #f80;
        color: #000;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
        div.row {
            margin-bottom: 0;
        }
        div {
            .logo {
                padding: 4px;
            }
            .rep {
                padding: 4px;
                a {
                    color: #000;
                }
            }
            .rep:hover {
                background: #f80 + 32;
            }
            .sel {
                background: #f80 - 32;
                a {
                    color: #fff;
                }
            }
        }
    }
    div#line {
        border-top: 1px solid #f80;
        border-bottom: 1px dotted #f80;
        height: 3px;
        margin-top: 1px;
        margin-bottom: 8px;
    }

    /*
    .col-id
	.col-timestamp 
	.col-StarSystem 
	.col-Name
	.col-Count 
	.col-event 
	.col-eventType 
	.col-scroll
*/

    div#finder {
        margin: 8px;
        border: 1px solid #f80;
        input, input:focus{
            border: 0px !important;
            color: #f80;
            box-shadow: none;
            margin: 0px;
            padding: 8px;
            opacity: 1;
        }
    }
    div#options{
        margin: 0px;
        margin-left: 8px;
        margin-bottom: 16px;
        span.find-model {
            border-top: 2px solid #f80;
            background: rgba(255, 136, 0, 0.8);
            color: #000;
            padding: 8px;
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
        }
        span.find-model:hover{
            border-top: 2px solid #ff0;
            background: rgba(255, 150, 0, 1);
            
        }
        span.find-model.set{
            background: rgba(255, 136, 0, 1);

        }
        span.result{
            display: inline-block;
            padding-left: 8px;
            font-size: 1.3em;
            font-weight: bold;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            span{
                color: #FFF;
            }
        }
        span.looking-for{
            text-transform: uppercase;
            font-size: 1.2em;
            margin-left: 8px;
            color: #904d00;
            span{
                background: inherit;
            }
            span.mat-name{
                background: #ff8800;
                color: #1c0900;
                font-size: 0.8em;
                text-transform: lowercase;
                border-radius: 2px;
                padding: 1px 4px 3px 4px;
                position: relative;
                top: -1px;
                letter-spacing: 0.25px;
            }
        }

    }

    div.events {
        @borderColor: rgba(177, 94, 0, 0.28);
        /* table structure */
        table {
            tr.odd {
                background: #1f1100;
            }
            tr {
                border-bottom: @borderColor 2px solid;
                td,
                th {
                    border-radius: 0px;
                }
                td.col-id,
                th.col-id {
                    width: 64px;
                    border-right: 1px solid @borderColor;
                }
                td.col-timestamp,
                th.col-timestamp {
                    width: 200px;
                    border-right: 1px solid @borderColor;
                }
                td.col-StarSystem,
                th.col-StarSystem {
                    width: 512px;
                    border-right: 1px solid @borderColor;
                }
                td.col-Name,
                th.col-Name {
                    width: 280px;
                    border-right: 1px solid @borderColor;
                }
                td.col-Count,
                th.col-Count {
                    width: 64px;
                    border-right: 1px solid @borderColor;
                }
                td.col-event,
                th.col-event {
                    display: none;
                } //td.col-eventType,th.col-eventType{}
                td.col-scroll,
                th.col-scroll {
                    border-left: 1px solid @borderColor;
                    width: 18px;
                }
            }
        }
        table.head {
            thead {
                tr th {
                    background: #f80;
                    color: #000;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
        }
        div#scrollArea {
            max-height: 720px;
            border-bottom: 2px solid rgb(41, 22, 0);
            table.ed-data {
                tbody {
                    tr {
                        .odd {
                            background: #1f1100;
                        }
                        td {
                            color: #f80;
                        }
                        
                        td.col-id {
                            font-weight: bold;
                        }
                        td.col-timestamp {
                            text-transform: uppercase;
                            text-align: right;
                        }
                        td.col-StarSystem {
                            font-size: 2em;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            text-align: center;
                            font-weight: bold;
                        }
                        td.col-Name {
                            div.mtCell {
                                div.mtName {
                                    color: #fff;
                                    text-transform: uppercase;
                                    letter-spacing: 0.2px;
                                    font-size: 1.2em;
                                    margin-bottom: 4px;
                                }
                                div.mtPrp {
                                    span {
                                        background: #d2930024;
                                        color: #d29300;
                                        display: inline-block;
                                        padding: 4px 6px 2px 5px;
                                        border-radius: 4px;
                                        margin-right: 4px;
                                        font-weight: bold;
                                        text-transform: uppercase;
                                        font-size: 0.75em;
                                    }
                                    span.VeryCommon {
                                        background: #fff;
                                        color: #000;
                                    }
                                    span.Common {
                                        background: #0f0;
                                        color: #000;
                                    }
                                    span.Standard {
                                        background: #ff0;
                                        color: #000;
                                    }
                                    span.Rare {
                                        background: #f00;
                                        color: #000;
                                    }
                                    span.VeryRare {
                                        background: #00f;
                                        color: #fff
                                    }
                                }
                                div.mtDetails {
                                    color: #b10000;
                                    font-size: 1.05em;
                                    margin-top: 4px;
                                    font-style: italic;
                                }
                            }
                        }
                        td.col-Count {
                            font-size: 1.3em;
                            font-weight: bold;
                            text-align: center;
                        }
                        //td.col-event{} 
                        td.col-eventType {
                            text-align: center;
                            font-size: 2em;
                            letter-spacing: 2px;
                            opacity: 0.4;
                        }
                        //td.col-scroll{}
                        td:hover{
                            background: rgba(255, 136, 0, 0.3);
                        }
                    }

                    tr:hover{
                        background: rgba(255, 136, 0, 0.3);
                    }
                }
            }
        }
    }

    div.byMat{
        //column-count: 3;
        //column-gap: 0px;
        
        div.mat{
            width: 32%;
            display: inline-table;
            box-sizing: border-box;
            border: 2px solid rgba(255, 136, 0, 0.33);
            margin: 8px;
            margin-bottom: 16px;
            border-radius: 8px;
            background: #ff880021;
            padding: 8px;
            h4{
                line-height: 0px;
                font-size: 1.5em;
                color: #fff;
                margin-bottom: 16px;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
                span{
                    color: #f80;
                    opacity: 0.8;
                    font-family: monospace;
                }
            }
            div ul{
                font-size: 1.2em;
                li{
                    span.ss{
                        text-transform: uppercase;
                        opacity: 0.6;
                        letter-spacing: 1px;
                        
                    }
                    span.nn{
                        font-family: monospace;
                        font-weight: bold;
                        color: #fff;
                        font-size: 1.22em;

                    }
                }
            }
        }
    }

    div.bySys{
        //background: #333;
        div.sys{
            width: 32%;
            display: inline-table;
            box-sizing: border-box;
            border: 2px solid rgba(255, 136, 0, 0.33);
            margin: 8px;
            margin-bottom: 16px;
            border-radius: 8px;
            background: #ff880021;
            padding: 8px;
            max-height: 250px;
            overflow: hidden;
            h4{
                line-height: 0px;
                font-size: 1.5em;
                color: #fff;
                margin-bottom: 16px;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
            }
            span.sysStat {
                text-transform: uppercase;
                letter-spacing: 0.3px;
                font-weight: bold;
            }
            div{
                font-size: 1.3em;
                letter-spacing: 1.2px;
                ul{
                    li{
                        span.matType{
                            opacity: 0.3;
                            display: inline-block;
                            width: 96px;
                            text-align: right;
                        }
                        span.matC{
                            font-family: monospace;
                            font-weight: bold;
                            color: #fff;
                            font-size: 1.1em;
                        }
                    }
                }
            }
            div.bySysList{
                display: none;
            }
        }
        div.sys:hover{
            border: #fff 2px solid;
            cursor: pointer;

        }
    }
}